<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head') %>
</head>
<body>

    <%- include('partials/navigation') %>

    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum deleniti debitis ab vero sunt odio eligendi vitae rem maiores, ipsam veniam amet recusandae dolor repudiandae suscipit ipsa ullam unde alias excepturi laboriosam inventore possimus? Aliquid, ipsum nihil consectetur dicta enim consequuntur quod maiores sint soluta. Eligendi natus perferendis ullam. Adipisci nemo voluptatum maiores asperiores libero officia hic mollitia a aliquam laboriosam ratione exercitationem id suscipit error sequi eos repudiandae, ea cum minus aut corporis illo architecto nam. Sit praesentium corporis impedit delectus. Illum id nobis dicta rerum amet consectetur eius quia, possimus eum ut consequatur commodi praesentium. Perferendis rem accusamus veniam quisquam, nihil consequuntur dolor qui natus ad deserunt perspiciatis ut sapiente earum commodi ab tempora, eveniet temporibus quae similique, numquam ex quaerat itaque. Deleniti maxime aspernatur illo enim alias consequuntur quam, eos corrupti harum velit dignissimos quibusdam? Quos, et corporis omnis consequatur voluptatem, minima nisi iste modi provident suscipit voluptates debitis earum culpa ratione nesciunt minus optio temporibus placeat, sapiente nam! Velit nemo obcaecati quidem illum deserunt incidunt officiis cum blanditiis voluptatum soluta repudiandae quasi, modi beatae aperiam perferendis ab dignissimos dolores nihil ipsum? Facere, asperiores iusto itaque id eum ullam molestias labore nostrum temporibus consequatur tempore quam omnis eveniet fuga laborum pariatur aperiam culpa, minus libero sapiente quis sint harum? Possimus vel necessitatibus, sunt aperiam architecto impedit modi ipsam ab nemo doloribus adipisci repudiandae quaerat totam et recusandae quo hic exercitationem unde? Commodi reiciendis asperiores incidunt et in vel similique obcaecati aliquid? Natus laborum eligendi esse, a iure nobis tenetur maiores incidunt exercitationem distinctio ab earum voluptates dolor vero, debitis nisi architecto dolore voluptate. Mollitia, eligendi corporis. Laudantium eum eius voluptatem? A voluptatibus, ipsam animi reiciendis dicta nobis! Tempore at iste id, exercitationem, eaque ipsum ex natus rem sit rerum consequatur. Laudantium, esse. Cupiditate temporibus impedit aspernatur ad!</p>
        </section>
    </main>

    <%- include('partials/footer') %>

</body>
</html>