<footer class="bg-dark text-center p-4">
    <p class="h4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga earum quo iste dolorum facilis accusantium sunt assumenda eaque ipsam? Alias voluptas natus accusantium atque error fugit illo, corrupti amet obcaecati molestias id dolore quaerat assumenda iste voluptatem similique fugiat sit exercitationem nisi quo suscipit voluptatum hic placeat? Dicta modi dignissimos repellat officia beatae odit animi, voluptate quibusdam laborum facilis. Animi, debitis quaerat tempora expedita amet nisi excepturi nulla provident inventore modi aliquid facere similique in sequi placeat corrupti rerum delectus eveniet voluptatum facilis culpa libero ad. Repellat, voluptatibus rem inventore provident quae, atque soluta nulla dolore dignissimos, quam esse hic.</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>